.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .form-control {
    font-size: 0.9rem;
  }

  .btn-primary {
    width: 100%;
  }

  .address-box,
  iframe {
    margin-bottom: 20px;
  }

  .welcome-section {
    height: auto;
    /* Allow dynamic height for welcome section */
    padding: 15px;
    /* Reduce padding for smaller screens */
  }

  .col-md-6,
  .col-md-8,
  .col-md-10 {
    flex: 0 0 100%;
    /* Make columns full width on smaller screens */
    max-width: 100%;
    /* Ensure columns don't exceed full width */
  }

  .welcome-title {
    font-size: 1.8rem;
    /* Reduce font size on smaller screens */
  }

  .welcome-message {
    font-size: 1rem;
    /* Reduce font size for message */
  }
}

.welcome-section {
  /* Light background color */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #105183, #252472);
  /* Moved from inline styles */
  color: white;
  height: 400px;
  /* Set text color to white for better visibility */
}

.welcome-title {
  font-size: 2rem;
  /* Font size for title */
  color: #0A92DD;
  /* Primary color */
}

.welcome-message {
  font-size: 1.2rem;
  /* Font size for message */
  color: #fff;
  /* White text color for better contrast */
}/* Add this to your global or component-specific CSS file */
@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1025px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
table td {
  white-space: nowrap;
}
